﻿@model CollegeBuffer.Models.GroupPage

<h1>@Model.Name</h1>
<h3>@Model.Description</h3>

<hr />

<button class="btn btn-lg btn-primary" onclick="$('#newannouncement').toggle()">Add an announcement</button>
<div id="newannouncement" class="panel panel-default" style="display: none;">
    <div class="panel-body">
        @using (Ajax.BeginForm("New", "Announcements", new AjaxOptions { OnBegin = "if(stop)e.preventDefault();$('#loading').show();stop=true;", OnSuccess = "create(data,'Groups', 'Group', '" + Model.GroupId + "');stopForm=false;setTimeout(function () { stop = false; }, 10);", OnFailure = "showMessage('alert-danger', 'Failed!');setTimeout(function () { stop = false; }, 10);" }))
        {
            @Html.HiddenFor(m => m.GroupId)
            <table class="table">
                <tr>
                    <td>@Html.LabelFor(m => m.NewAnnouncement.Title)</td>
                    <td>@Html.TextBoxFor(m => m.NewAnnouncement.Title)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.NewAnnouncement.Message)</td>
                    <td>@Html.TextAreaFor(m => m.NewAnnouncement.Message)</td>
                </tr>
            </table>
            <input type="submit" value="Create Announcement!" class="btn btn-lg btn-success" />
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Announcements</h1>
    </div>
    <ul class="list-group">

        @if (Model.Announcements != null && Model.Announcements.Count > 0)
        {
            foreach (var announcement in Model.Announcements)
            {
                <li class="list-group-item">
                    <h4><a href="/Users/User/@announcement.User.Id"><b>@announcement.User.Username</b></a> posted <a href="/Announcements/Announcement/@announcement.Id"><b>@announcement.Title</b></a> at <i>@announcement.Date.ToString()</i>.</h4>
                    <hr />
                    <p>@announcement.Message</p>
                    <hr />
                    @if (announcement.Comments != null && announcement.Comments.Count > 0)
                    {
                        
                        <ul class="list-group">
                            @foreach (var comment in announcement.Comments.OrderBy(p => p.Date))
                            {
                                <li class="list-group-item list-group-item-info">
                                    <b>@comment.User.Username</b> at <i>@comment.Date.ToString()</i> said:<br />
                                    @comment.Text
                                </li>
                            }
                        </ul>
                    }
                    <div class="input-group">
                        <input id="comment" type="text" class="form-control" />
                        <span class="input-group-btn">
                            <button id="submitlink" class="btn btn-default" onclick="comment('/Comments/New/@announcement.Id', $('#comment').val())">Leave a comment!</button>
                        </span>
                    </div><!-- /input-group -->
                </li>
            }
        }
        else
        {
            <li class="list-group-item"><br /><p>Nothing to see here...</p></li>
        }

    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Events</h1>
    </div>
    <ul class="list-group">

        @if (Model.Events != null && Model.Events.Count > 0)
        {
            foreach (var oneEvent in Model.Events)
            {
                <li class="list-group-item">
                    <h4><a href="/Events/Event/@oneEvent.Id"><b>@oneEvent.Title</b></a> added at <i>@oneEvent.DateCreated.ToString()</i>.</h4>
                    <hr />
                    <p>@oneEvent.Message</p>
                    <hr />
                    <p>Start date: @oneEvent.StartDate | End date: @oneEvent.EndDate | Place: @oneEvent.Place</p>
                    <hr />
                    @if (oneEvent.Comments != null && oneEvent.Comments.Count > 0)
                    {
                        
                        <ul class="list-group">
                            @foreach (var comment in oneEvent.Comments.OrderBy(p => p.Date))
                            {
                                <li class="list-group-item list-group-item-info">
                                    <b>@comment.User.Username</b> at <i>@comment.Date.ToString()</i> said:<br />
                                    @comment.Text
                                </li>
                            }
                        </ul>
                    }
                    <div class="input-group">
                        <input id="comment" type="text" class="form-control" />
                        <span class="input-group-btn">
                            <button id="submitlink" class="btn btn-default" onclick="comment('/Comments/New/@oneEvent.Id', $('#comment').val())">Leave a comment!</button>
                        </span>
                    </div><!-- /input-group -->
                </li>
            }
        }
        else
        {
            <li class="list-group-item"><br /><p>Nothing to see here...</p></li>
        }

    </ul>
</div>