﻿@using System.Web.UI.WebControls
@using CollegeBuffer.DAL.Model.Enums
@using CollegeBuffer.Models
@using CollegeBuffer.Special

@{
    Layout = null;
}
<!DOCTYPE html>

<html ng-app='CollegeBuffer'>
<head>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/css/simple-sidebar.css" />
    <link rel="stylesheet" href="/Content/css/Site.css" />

    <!--scripts-->
    <script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"> </script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"> </script>
    <script src="/Scripts/bootstrap.min.js" type="text/javascript"> </script>
    @*    <script src="/Scripts/respond.min.js" type="text/javascript"> </script>*@

    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css' />

    <!--link rel="icon" type="image/png" href="/Content/favicon.png" /-->
</head>
<body>
    <script>
        var stop = false;
    </script>


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/Home/Index" onclick='go("Home", "Index", "");'>
                        Start Page
                    </a>
                </li>
                @if (MySession.Current.UserDetails.Role == UserRoles.Administrator)
                {
                    <li>
                        <a href="/Groups/Index" onclick=' go("Groups", "Index", ""); '>Groups</a>
                    </li>
                    <li>
                        <a href="/Users/Index" onclick=' go("Users", "Index", ""); '>Users</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Home/MyGroups" onclick='go("Home", "MyGroups", "");'>My groups</a>
                    </li>
@*                    <li>*@
@*                        <a href="/Home/EditProfile" onclick='go("Home", "EditProfile", "");'>Edit profile</a>*@
@*                    </li>*@
                    <li>
                        <a href="/Groups/Index" onclick=' go("Groups", "Index", ""); '>Join a group</a>
                    </li>
                }

                <li>
                    <a href="/Account/LogOut">Log out</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div id="contentbody">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!--message-->
    <div id="message" class="alert"></div>
    <div id="loading" class="loading"></div>

    <!--user modal-->
    <div id="usermodal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>



    <script>
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });

        function showMessage(className, text) {
            $("#message").addClass(className);
            $("#message").html(text);
            $("#message").fadeToggle(200);
            setTimeout(function () { $("#message").fadeToggle(500); }, 2000);
            setTimeout(function () { $("#message").removeClass(className); }, 2600);
            $("#loading").hide();
        }

        /*Ajax load pages*/
        //var initial = 1;

        function go(a, b, c) {
            var page = '/' + a + '/' + b;
            if (c != "")
                page += '/' + c;

            if (document.location.pathname != page)
                history.pushState({ controller: a, method: b, id: c }, b, page);
            setupPage(page);
            event.preventDefault();
            return false;
        }

        window.onpopstate = function (event) {
            var str = document.location.pathname;
            setupPage(str);
            return false;
        };

        function setupPage(page) {
            $("#loading").show();

            $.ajax({
                url: page,
                data: { asPartial: 1 },
                success: function (response) {
                    $("#loading").hide();
                    $("#contentbody").html(response);
                },
                error: function () {
                    $("#loading").hide();
                    showMessage("alert-danger", "The page failed to load!");
                }
            });
            return false;
        }

        function ask() {
            if (!confirm('Are you sure you want to delete this?')) {
                event.preventDefault();
                setTimeout(function () { stop = false; }, 10);
                return false;
            }
        }

        function create(data, a, b, c) {
            $('#loading').hide();

            if (data == "K") {
                showMessage('alert-success', 'Creation successful!');
                go(a, b, c);
            }
            else if (data == "F") {
                showMessage('alert-danger', 'Creation failed!');
            }
        }
        
        function join(data) {
            $('#loading').hide();

            if (data == "K") {
                showMessage('alert-success', 'Join successful!');
            }
            else if (data == "F") {
                showMessage('alert-danger', 'You already joined the group!');
            }
        }

        function comment(url, text) {
            $.ajax({
                url: url,
                data: { text: text },
                success: function (response) {
                    document.location.reload(true);
                },
                error: function () {
                    $("#loading").toggle();
                    showMessage("alert-danger", "The comment failed!");
                }

            });
        }
    </script>

</body>
</html>